body {

  font-family: "Open Sans", sans-serif;
}

/* ********global styles********** */


:root {
  scroll-behavior: smooth;
  --blue: #1cbbb4;
  --bg_black: #1a2e35;
  --red: #ff4f5a;
  --button_color: #252525;
}

button {
  border: none;
  width: 120px;
  height: 40px;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: white;


}

ul {
  list-style: none;
}

.capitilaze {
  text-transform: capitalize;
}

.upper {
  text-transform: uppercase;
}

.bold {
  font-weight: 900;
}

/*? *****************************start nav******************** */
.nav_container {
  display: flex;
  align-items: center;
  background: var(--bg_black);
  padding: 10px;

}


.nav_container span {
  display: flex;
  color: white;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
}

.nav_container  span img {
  border-style: none;
  height: 46px;
}




/*? *********************end nav*********************** */
/*?!* *************start category styles************** */
.category_container {

  background: var(--blue);
  padding: 10% 0;

}




.category_container h2 {
  justify-content: center;
  display: flex;
  color: white;
  font-size: 35px;
  font-weight: 900;
  text-decoration: underline;
}

.category_container .upper_container {
  display: flex;
  justify-content: space-around;
  padding: 3% 11%;
  align-items: end;
}

.category_container .imgaes {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.category_container .down_container {
  display: flex;
  justify-content: space-around;
  padding: 3% 11%;
  align-items: end;

}

section.category_container span {
  color: white;
}

@media screen and (max-width:1300px) {
  .category_container {
    margin-top: 20px;
  }

  .category_container .upper_container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
  }

  .category_container .down_container {

    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;

  }
}

/*?* ****************end category styles*************** */
/*! ****************start links styles*************** */
.links_section {

  background-color: var(--bg_black);

}

.links_section .links_upper {

  display: flex;
  justify-content: space-between;
  padding: 60px 200px 40px;
}

.links_section .links_upper .left {
  display: flex;
  align-items: start;
}

.links_section .links_upper span {
  color: white;
  font-size: 30px;
  font-weight: 600;
}

.links_section .links_upper .right {
  display: flex;
  gap: 21px;
}

.links_section .links_upper .right img {
  width: 30px;
  height: 30px;
}

.links_section .links_mid {
  display: flex;
  gap: 121px;
  padding: 0 200px;
}

.links_section .links_mid .left {
  display: flex;
  flex-direction: column;

  gap: 15px;
}

.white {
  color: white;
}

.links_section .links_mid .mid {
  display: flex;
  flex-direction: column;
}

.links_section .links_mid .mid p {

  line-height: 26px;

}

.links_section .links_mid .last {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.links_section .links_mid .last button {
  border: solid 2px;

  color: white;
  background-color: var(--red);
  font-size: 12px
}

.links_section .links_mid .last input {
  width: 200px;
  height: 30px
}

.links_section .links_bottom {
  display: flex;
  justify-content: center;
  gap: 200px;
  align-items: center;
  padding: 70px;

}

.links_section .links_bottom .img_cont {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width:1100px) {
  .links_section .links_mid {
    display: flex;

    align-items: flex-start;
    gap: 45px;
    justify-content: center;
  }

  .links_section .links_bottom {
    gap: 50px
  }
}





/*! ****************end links styles*************** */
/*? ****************end footer styles*************** */
.footer {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

/*? ****************end footer styles*************** */