/* ********global styles********** */
body {

  font-family: "Open Sans", sans-serif;
}


:root {
  scroll-behavior: smooth;
  --blue: #1cbbb4;
  --bg_black: #1a2e35;
  --red: #ff4f5a;
  --button_color: #252525;
}

button {
  border: none;
  width: 120px;
  height: 40px;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: white;


}

ul {
  list-style: none;
}

.capitilaze {
  text-transform: capitalize;
}

.upper {
  text-transform: uppercase;
}

.bold {
  font-weight: 900;
}

.red {
  color: var(--red);
}

/*? *****************************start nav******************** */
.nav_container {
  display: flex;
  justify-content: space-between;

}

.nav_container .left_container {
  display: flex;
  padding: 15px;
  background: var(--bg_black);
  width: 50%;
  gap: 7%;
}

.nav_container .left span {
  display: flex;
  color: white;

  justify-content: center;
  font-size: 25px;
  font-weight: bold;
}

.nav_container .left span img {
  border-style: none;
  height: 46px;
}



.nav_container .left_container ul {
  gap: 15%;
  display: flex;
  justify-content: space-between;


}

.nav_container .left_container .left {
  display: flex;
  align-items: center;
}

.nav_container .left_container .right ul {
  display: flex;
  gap: 30%;
}

.nav_container .right_container {
  width: 50%;
  background: var(--blue);
  align-items: center;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  color: white;
  padding: 15px;
}

.nav_container .right_container .right {
  display: flex;
  gap: 30px;
}



@media screen and (max-width:1200px) {



  .nav_container .left_container .right ul {
    flex-direction: column;
    gap: 10px;

  }

}

/*? *********************end nav*********************** */
/*?* *********************start freelance*********************** */
.freelane_container {
  display: flex;
  justify-content: space-between;
  color: white;

}

.freelane_container .left {
  background-color: var(--bg_black);
  width: 50%;
  padding: 180px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.freelane_container .left button:first-of-type {
  color: white;
  background-color: var(--red);
}

.freelane_container .left button:last-of-type {
  color: var(--button_color);
  background: white;

}

.freelane_container .left h2 {
  padding-right: 38%;


}

.freelane_container .left .button_container {
  padding-right: 38%;
  display: flex;
  gap: 5%;
}




.freelane_container .right {
  background-color: var(--blue);
  width: 50%;

}

.freelane_container .right img {
  margin: 50px;
}

@media screen and (max-width:1200px) {

  .freelane_container .left {

    justify-content: center;
    padding: 10px 0;

  }

  .freelane_container .left p {
    padding-left: 40px;
  }

  .freelane_container .right img {

    height: auto;
    width: 50%;
  }

  .freelane_container .right {
    justify-content: flex-end;
  }

}

/*?* *********************end freelance*********************** */
/*?! *********************start hire styles*********************** */
.hire_section {
  display: flex;

  width: 80%;
  align-items: center;
  gap: 10%;
}

.hire_section .left img {
  width: 400px;

  padding: 25% 75%;
}

.hire_section .right {
  padding-left: 18%;
}

.hire_section .right h2 {
  font-weight: 800;
}

.hire_section .right p {
  line-height: 25px;
}

.hire_section .right .lancer_button button:first-of-type {
  color: white;
  background-color: var(--red);
  font-size: 12px;
}

.hire_section .right .lancer_button button:last-of-type {

  font-size: 12px;
  color: white;
  background: var(--button_color);

}

@media screen and (max-width:1300px) {
  .hire_section {
    flex-direction: column;

  }

  .hire_section .left img {

    padding: 30% 0;
  }
}



.hire_section .right .lancer_button {

  display: flex;
  gap: 20px;
}

@media screen and (max-width:1000px) {
  .hire_section .right .lancer_button {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

}

/*?! *******************end hire styles*********************** */
/*?!* *************start category styles************** */
.category_container {

  background: var(--blue);
  padding: 10% 0;

}




.category_container h2 {
  justify-content: center;
  display: flex;
  color: white;
  font-size: 35px;
  font-weight: 900;
  text-decoration: underline;
}

.category_container .upper_container {
  display: flex;
  justify-content: space-around;
  padding: 3% 11%;
  align-items: end;
}

.category_container .imgaes {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.category_container .down_container {
  display: flex;
  justify-content: space-around;
  padding: 3% 11%;
  align-items: end;

}

section.category_container span {
  color: white;
}

@media screen and (max-width:1300px) {
  .category_container {
    margin-top: 20px;
  }

  .category_container .upper_container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
  }

  .category_container .down_container {

    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;

  }
}

/*?* ****************end category styles*************** */
/*? ****************start about styles*************** */
.about_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_container .about_img img {
  width: 100%;
  padding: 15% 0 0;
}

.about_container .about_text {
  display: flex;
  flex-direction: column;
  align-items: center
}

.about_container .about_text .par_cont {
  gap: 40px;
  display: flex;
  padding: 1% 11%;
  flex-direction: column;
  align-items: center;
}

.about_container .about_text h2 {
  font-size: xx-large;
  font-weight: 900;
}

.about_container .about_text p {
  text-align: -webkit-center;
  font-size: 17px;
  line-height: 30px;
}

.about_container .about_text button {
  color: white;
  background-color: var(--red);
  font-size: 12px;
}

@media screen and (max-width:700px) {
  .about_container {
    display: flex;
    flex-direction: column;

  }

}

/*? ****************end about styles*************** */
/*?! ****************start paid styles*************** */
.free_section {
  display: flex;
  padding-top: 80px;
  justify-content: space-between;
}

.free_section .left_container {
  display: flex;
  gap: 5%;
  flex-direction: column;
  padding: 0 0 0 160px;
  font-size: 18px;
}

.free_section .left_container .img1 .first {
  background-color: var(--blue);
}


.free_section .left_container .img1 {
  display: flex;
  gap: 7%;

}

.free_section .left_container .img2 {
  display: flex;
  gap: 7%;

}

.free_section .left_container .img3 {
  display: flex;
  gap: 7%;

}

.free_section .left_container .img4 {
  display: flex;
  gap: 7%;


}

.free_section .left_container .img1 .span_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.free_section .left_container .img2 .span_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.free_section .left_container .img3 .span_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.free_section .left_container .img4 .span_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}




.free_section .left_container img {
  border-radius: 50%;
  background-color: var(--bg_black);
  width: 70px;
  height: 70px;
}


.free_section .right_container img {
  width: 720px;
}

@media screen and (max-width:1400px) {
  .free_section {
    display: flex;

  }

  .free_section .left_container {
    gap: 20px;

  }
}

/*?! ****************end paid styles*************** */
/*? ****************start testmonial styles*************** */
.testimonial_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 50%;
  margin: auto;
  margin-top: 100px;
}

.testimonial_section .down {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 20px 10px #e9e9e9;
}

.testimonial_section .down p {
  text-align: -webkit-center;
  line-height: 27px;
}

.testimonial_section .down img {
  border-style: none;
  padding-bottom: 25px
}

/*? ****************end testmonial styles*************** */
/*! ****************start links styles*************** */
.links_section {
  margin-top: 100px;
  background-color: var(--bg_black);

}

.links_section .links_upper {

  display: flex;
  justify-content: space-between;
  padding: 60px 200px 40px;
}

.links_section .links_upper .left {
  display: flex;
  align-items: start;
}

.links_section .links_upper span {
  color: white;
  font-size: 30px;
  font-weight: 600;
}

.links_section .links_upper .right {
  display: flex;
  gap: 21px;
}

.links_section .links_upper .right img {
  width: 30px;
  height: 30px;
}

.links_section .links_mid {
  display: flex;
  gap: 121px;
  padding: 0 200px;
}

.links_section .links_mid .left {
  display: flex;
  flex-direction: column;

  gap: 15px;
}

.white {
  color: white;
}

.links_section .links_mid .mid {
  display: flex;
  flex-direction: column;
}

.links_section .links_mid .mid p {

  line-height: 26px;

}

.links_section .links_mid .last {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.links_section .links_mid .last button {
  border: solid 2px;

  color: white;
  background-color: var(--red);
  font-size: 12px
}

.links_section .links_mid .last input {
  width: 200px;
  height: 30px
}

.links_section .links_bottom {
  display: flex;
  justify-content: center;
  gap: 200px;
  align-items: center;
  padding: 70px;

}

.links_section .links_bottom .img_cont {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width:1100px) {
  .links_section .links_mid {
    display: flex;

    align-items: flex-start;
    gap: 45px;
    justify-content: center;
  }

  .links_section .links_bottom {
    gap: 50px
  }
}





/*! ****************end links styles*************** */
/*? ****************end footer styles*************** */
.footer {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

/*? ****************end footer styles*************** */